# URL of the S3 bucket serving daily puzzles.
# Files are expected at: $VITE_PUZZLES_URL/puzzles/YYYY-MM-DD.json
#
# For a public S3 bucket in us-east-1:
#   https://<bucket-name>.s3.us-east-1.amazonaws.com
#
# Or behind CloudFront:
#   https://d1234abcd.cloudfront.net
VITE_PUZZLES_URL=https://your-bucket.s3.your-region.amazonaws.com
